<!DOCTYPE html>
<html>
    <title>Home Page</title>
    <body>
        <div class="navbar">
            <div class="logo">TaskFlow</div>
            <div class="links">
                <ul>Home</ul>
                <ul>About</ul>
                <ul>Contact</ul>
                <ul>Login</ul>
                <ul>Signup</ul>
            </div>
        </div>
        <section class="hero">
            <div class="hero-content">
                <h1>Manage Tasks Smarter</h1>
                <p>Organize projects and track progress.</p>

                <a href="#" class="btn-primary">Get Started</a>
            </div>

            <div class="hero-image">
                <img src="dashboard.png" alt="">
            </div>
        </section>
        <div class="about">
            <h1>About Us</h1>
            <p>Managing tasks shouldn't be complicated. Our Task Management System is designed to help individuals and teams organize their work, prioritize responsibilities, and stay focused on what matters most. Whether you're planning daily activities or managing long-term projects, our platform provides a simple and efficient workspace to keep everything in one place.</p>
            <p>With an intuitive interface, real-time progress tracking, deadline management, and smart organization tools, we aim to make productivity effortless. Our goal is to help you spend less time managing tasks and more time accomplishing them.</p>
        </div>    
        <div class="contact">
            <h1>Contact Us</h1>
            <p>Have questions, feedback, or need assistance? We'd love to hear from you. Whether you're looking for support, have suggestions for improving the platform, or want to collaborate, feel free to reach out. Our team is here to help you make the most of your productivity journey.</p>
            <h1>Contact Information</h1>
            <h2>Address</h2>
            <p>Infopark, Kakkanad, Kochi, Kerala, India</p>
            <h2>Email</h2>
            <p>support@taskflow.com</p>
            <h2>Phone</h2>
            <p>+91 98765 43210</p>
            <h2>Working Hours</h2>
            <p>Monday - Friday | 9:00 AM - 6:00 PM</p>

            <div class="contact-form">
                <h1>Send Us a Message</h1>
                <form>
                    <label>Full name</label>
                    <input type="text" name="name">
                    <label>Email</label>
                    <input type="email" name="email">
                    <label>Subject</label>
                    <input type="text" name="name">
                    <label>Message</label>
                    <input type="text" name="name">
                    <button type="submit" name="send-message">Send</button>
                </form>
            </div>
        </div> 
        <div class="footer">
            
        </div>  
    </body>
</html>