{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | TaskFlow</title>

    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>

    {% if messages %}
        {% for message in messages %}
            <div class="message-box {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="navbar">
        <div class="logo">TaskFlow</div>
        
    </div>

    <div class="menu-container">

        <div class="menu-items">
            <i class="fa-solid fa-house"></i>
            <a href="{% url 'dashboard' %}">Dashboard</a>
        </div>
        <div class="menu-items">
            <i class="fa-solid fa-pen-to-square"></i>
            <a href="{% url 'create_task' %}">Create</a>
        </div>
        <div class="menu-items">
            <i class="fa-solid fa-list-check"></i>
            <a href="{% url 'my_tasks' %}">MyTasks</a>
        </div>
        <div class="menu-items">
            <i class="fa-regular fa-circle-user"></i>
            <a href="{% url 'profile' %}">Profile</a>
        </div>
        <div class="menu-items">
            <i class="fa-solid fa-right-from-bracket"></i>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
            
      
    </div>

<div class="profile-container">

    <h2>My Profile</h2>

    <form method="POST">

        {% csrf_token %}

        <div class="profile-image">

            <i class="fa-solid fa-circle-user"></i>

        </div>

        <div class="form-group">

            <label>Username</label>

            <input
                type="text"
                value="{{ request.user.username }}"
                readonly>

        </div>

        <div class="form-row">

            <div class="form-group">

                <label>First Name</label>

                <input
                    type="text"
                    name="first_name"
                    value="{{ request.user.first_name }}">

            </div>

            <div class="form-group">

                <label>Last Name</label>

                <input
                    type="text"
                    name="last_name"
                    value="{{ request.user.last_name }}">

            </div>

        </div>

        <div class="form-group">

            <label>Email Address</label>

            <input
                type="email"
                name="email"
                value="{{ request.user.email }}">

        </div>

        <div class="form-group">

            <label>Joined On</label>

            <input
                type="text"
                value="{{ request.user.date_joined|date:'d M Y' }}"
                readonly>

        </div>

        

            <div class="button-group">

    <button type="submit" class="save-btn">
        <i class="fa-solid fa-floppy-disk"></i>
        Update Profile
    </button>

    <button type="button"
            class="password-btn"
            id="changePasswordBtn">

        <i class="fa-solid fa-key"></i>
        Change Password

    </button>


</div>

        </div>

    </form>

</div>


<div id="passwordModal" class="modal">

    <div class="modal-content">

        <div class="modal-header">

            <h2>Change Password</h2>

            <span class="close-password">&times;</span>

        </div>

        <form method="POST"
              action="{% url 'change_password' %}">

            {% csrf_token %}

            <div class="form-group">

                <label>Current Password</label>

                <input
                    type="password"
                    name="old_password"
                    required>

            </div>

            <div class="form-group">

                <label>New Password</label>

                <input
                    type="password"
                    name="new_password1"
                    required>

            </div>

            <div class="form-group">

                <label>Confirm Password</label>

                <input
                    type="password"
                    name="new_password2"
                    required>

            </div>

            <div class="modal-buttons">

                <button
                    type="submit"
                    class="update-btn">

                    Update Password

                </button>

                <button
                    type="button"
                    class="cancel-btn"
                    id="cancelPassword">

                    Cancel

                </button>

            </div>

        </form>

    </div>

</div>

<script>

setTimeout(function(){

    const msg=document.querySelector(".message-box");

    if(msg){

        msg.style.display="none";

    }

},3000);

</script>
<script src="{% static 'js/profile.js' %}"></script>
</body>
</html>