{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Reset Password | TaskFlow</title>

    <link rel="stylesheet"
          href="{% static 'css/forgot_password.css' %}">

</head>

<body>

<div class="forgot-container">

    <div class="forgot-card">

        <div class="logo">
            TaskFlow
        </div>

        <h2>Set New Password</h2>

        <p class="description">
            Create a new password for your account.
        </p>

        {% if messages %}

            {% for message in messages %}

                <div class="message">
                    {{ message }}
                </div>

            {% endfor %}

        {% endif %}

        <form method="POST">

            {% csrf_token %}

            <div class="form-group">

                <label for="new_password">
                    New Password
                </label>

                <input
                    type="password"
                    id="new_password"
                    name="new_password"
                    placeholder="Enter new password"
                    required>

            </div>

            <div class="form-group">

                <label for="confirm_password">
                    Confirm Password
                </label>

                <input
                    type="password"
                    id="confirm_password"
                    name="confirm_password"
                    placeholder="Confirm new password"
                    required>

            </div>

            <button
                type="submit"
                class="send-otp-btn">

                Change Password

            </button>

        </form>

        <div class="back-login">

            <a href="{% url 'login' %}">
                ← Back to Login
            </a>

        </div>

    </div>

</div>

</body>

</html>